<% include ../partials/header %>

<div class="ui main container text segment">
    <div class="ui huge header">
        <%= blog.title %>

    </div>
    <br>

    <div class="ui top attached">
        <div class="item">
            <img src="<%= blog.image%>" class="ui rounded image centered">


<br> <br>
            <div class="description">
                <p> <%- blog.body %></p>
            </div>
<br><br>
            <div class="content">
                <span> Publication Date : <%= blog.created.toDateString() %></span>
            </div>
            <div class="content">
                <em>  <span> Submitted By : <%= blog.author %></span> </em>
            </div>

        </div>
        <br>

                <% if ( (currentUser) && ( currentUser.username == blog.author ) ) {  %>

        <div class="ui large buttons">
            <a href="/blogs/<%= blog._id%>/edit" > <button class="ui button green ">Edit</button></a>
            <div class="or"></div>
            <form action="/blogs/<%=blog._id%>?_method=DELETE" method="post">
                <button class="ui button red  ">Delete</button> </form>
        </div>
        <% } %>
    </div>
</div>
<div class="ui main container text segment">
    <div class="ui huge header">
        Comments

    </div>

     <% if (blog.comments.length != 0 )  { %>
    <% blog.comments.forEach(function(comment){ %>
    <div class="ui raised segment">
        <p style="display: inline ;"> <%= comment.content %></p>
        <h5 style="display: inline ;"> --- <%= comment.name %> --- </h5>

    </div>

    <% }) %>
    <% } else { %>
    <div class="ui raised segment">
        <p style="display: inline ;"> No Comment Here </p>
    </div>
    <% } %>
</div>

<form action="/blogs/<%=blog._id%>/comment" method="post" >
<div class="ui inverted segment main container text">
    <div class="ui huge header">
       Add a Comment
    </div>
    <div class="ui inverted form">
        <div class="field">
            <label>Your Comment</label>
            <textarea type="text" name="comment" > </textarea>
        </div>
        <button class="ui black inverted button" type="sumbit">Submit</button>
    </div>
</div>
</form>



<% include ../partials/footer %>